<form action="/square_root/results">
  <div>
    <label for="sr_number">
      Enter a number
    </label>

    <input id="sr_number" text="text" name="squareroot_number" placeholder="What number do you want to take the square root of?">
  </div>

  <button>
    Calculate square root
  </button>
</form>
