<form action="/square/results">
  <div>
    <label for="s_number">Enter a number</label>
  </div>
  <div>
    <input type="text" name="square_number" id="s_number" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square</button>
</form>
